
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
classes
eclipse
run
.DS_Store
*.bak
*.jar
Ranchable Fluid Cows Logo.png
RFC screen shot 1.png
RFC screen shot 2.png
RFC screen shot 3.png